.LeftMenue {
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--box-color);
    padding: 20px;
    z-index: 2;
}

.LeftMenue__Title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.LeftMenue__Title__Inner-Text {
    color: var(--cold-blue-color);
}

.LeftMenue__Logout {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s linear all;
    padding: 5px;
    text-decoration: none;
}

.LeftMenue__Logout>span {
    color: black;
    font-size: 14px;
}

.LeftMenue__Logout>svg {
    color: var(--cold-blue-color);
    font-size: 24px;
}

@media only screen and (max-width:1473px) {
    .LeftMenue__Title {
        font-size: 25px;
    }
}

@media only screen and (max-width:1272px) {
    .LeftMenue__Title {
        font-size: 20px;
    }
}

@media only screen and (max-width:1071px) {
    .LeftMenue__Title {
        font-size: 15px;
    }
}

@media only screen and (max-width:870px) {
    .LeftMenue__Title {
        font-size: 12px;
    }
}

@media only screen and (max-width : 801px) {
    .LeftMenue {
        width: 100%;
        height: max-content;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width:750px) {
    .LeftMenue__Title {
        font-size: 10px;
    }
}

@media only screen and (max-width:500px) {
    .LeftMenue {
        gap: 15px;
    }

    .LeftMenue__Title {
        display: none;
    }
}

/* responsive logout btn  */
@media only screen and (max-width:1268px) {
    .LeftMenue__Logout {
        gap: 12px;
    }

    .LeftMenue__Logout>span {
        font-size: 10px;
    }

    .LeftMenue__Logout>svg {
        font-size: 20px;
    }
}

@media only screen and (max-width:990px) {
    .LeftMenue__Logout {
        gap: 10px;
    }

    .LeftMenue__Logout>span {
        font-size: 10px;
    }

    .LeftMenue__Logout>svg {
        font-size: 15px;
    }
}

@media only screen and (max-width:872px) {
    .LeftMenue__Logout {
        gap: 5px;
    }

    .LeftMenue__Logout>svg {
        font-size: 12px;
    }
}

@media only screen and (max-width:801px) {
    .LeftMenue__Logout {
        width: max-content;
    }

    .LeftMenue__Logout>span {
        font-size: 8px;
    }
}