.LeftMenuLinks{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s linear all;
    padding: 5px;
    text-decoration: none;
}
.LeftMenuLinks>span{
    color:black;
    font-size: 14px;
}
.LeftMenuLinks>svg{
    color: var(--cold-blue-color);
    font-size: 24px;
}
.active :is(.LeftMenuLinks>svg ,.LeftMenuLinks>span){
    color: var(--box-color);
}
.active{
    background-color: var(--cold-blue-color);
    color: var(--box-color);
}

/* @media only screen and (max-width:1268px) {
    .LeftMenuLinks{
        gap: 12px;
    }
    .LeftMenuLinks>span{
        font-size: 10px;
    }
    .LeftMenuLinks>svg{
        font-size: 20px;
    }
}
@media only screen and (max-width:990px) {
    .LeftMenuLinks{
        gap: 10px;
    }
    .LeftMenuLinks>span{
        font-size: 10px;
    }
    .LeftMenuLinks>svg{
        font-size: 15px;
    }
}
@media only screen and (max-width:872px) {
    .LeftMenuLinks{
        gap: 5px;
    }
    .LeftMenuLinks>svg{
        font-size: 12px;
    }
}
@media only screen and (max-width:801px) {
    .LeftMenuLinks{
        width: max-content;
    }
    .LeftMenuLinks>span{
        font-size: 8px;
    }
} */