:root{
    --warm-blue-color : oklch(93% 0.034 272.788);
    --cold-blue-color : oklch(48.8% 0.243 264.376);
    --box-color : white;
    --green-color : oklch(79.2% 0.209 151.711);
    --gray-color : oklch(86.9% 0.022 252.894);
}
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}