.Signup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Signup__Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Signup__Container__Right-Side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(./../../../src/Images/cc6f992da23f25d992a4db354584463d19897b48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 25%;
}

.Signup__Container__Left-Side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.Signup__Container__Left-Side__Container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.Signup__Container__Left-Side__Container__Back-Home {
    font-size: 12px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.Signup__Container__Left-Side__Container__Back-Home>svg {
    font-size: 14px;
}

.Signup__Container__Left-Side__Container__Signup {
    font-weight: bold;
    font-size: 20px;
}

.Signup__Container__Left-Side__Container__Exp {
    font-size: 12px;
    color: gray;
}

.Signup__Container__Left-Side__Container__Google {
    width: 100%;
    background-color: var(--warm-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.Signup__Container__Left-Side__Container__Google>span,
.Signup__Container__Left-Side__Container__Inputs-Texts,
.Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel>form>label,
.Signup__Container__Left-Side__Register {
    font-size: 12px;
    font-weight: bold;
}

.Signup__Container__Left-Side__Container__Google>img {
    width: 20px;
    height: 20px;
    ;
}

.Signup__Container__Left-Side__Container__Or {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: gray;
}

.Signup__Container__Left-Side__Container__Inputs {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--gray-color);
    padding: 10px;
    border-radius: 10px;
}

.Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel>form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel__Forget-Pass {
    color: blue;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.Signup__Container__Left-Side__Btn {
    width: 100%;
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width : 1000px) {
    .Signup__Container__Right-Side {
        width: 40%;
    }

    .Signup__Container__Left-Side {
        width: 60%;
    }

    .Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel__Forget-Pass,
    .Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel>form>label {
        font-size: 10px;
    }

    .Signup__Container__Left-Side__Btn {
        font-size: 14px;
    }

    .Signup__Container__Left-Side__Register {
        font-size: 10px;
    }
}

@media only screen and (max-width : 850px) {
    .Signup__Container__Left-Side__Container__Exp {
        font-size: 10px;
        color: white;
    }

    .Signup__Container__Left-Side__Container__Google {
        gap: 10px;
    }

    .Signup__Container__Left-Side__Container__Google>span {
        font-size: 10px;
    }
}

@media only screen and (max-width : 700px) {

    .Signup__Container__Left-Side__Container__Signup,
    .Signup__Container__Left-Side__Container__Exp,
    .Signup__Container__Left-Side__Container__Inputs-Texts,
    .Signup__Container__Left-Side__Container__Back-Home,
    form>label {
        color: white;
    }

    .Signup__Container__Right-Side {
        display: none;
    }

    .Signup__Container__Left-Side {
        width: 100%;
        background-image: url(./../../../src/Images/cc6f992da23f25d992a4db354584463d19897b48.jpg);
    }

    .Signup__Container__Left-Side__Container__Inputs {
        background-color: white;
    }
}

@media only screen and (max-width : 430px) {
    .Signup__Container__Left-Side__Container__Kepp-And-Foret-Handel {
        flex-direction: column;
        row-gap: 5px;
    }
}