.TrendNFTs{
    width: 32%;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.TrendNFTs__First-Line,
.TrendNFTs__Second-Line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.TrendNFTs>img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
:is(.TrendNFTs__First-Line , .TrendNFTs__Second-Line)>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.TrendNFTs__Second-Line>span:nth-of-type(1){
    color: blue;
}
.TrendNFTs__Second-Line>button{
    padding: 10px;
    background-color: var(--cold-blue-color);
    color: white;
    cursor: pointer;;
    font-size: 12px;
    border-radius: 4px;
    border: none;
}
@media only screen and (max-width : 740px) {
    .TrendNFTs{
        width: 49%;
    }
    :is(.TrendNFTs__First-Line , .TrendNFTs__Second-Line)>span{
        font-size: 16px;
    }
    .TrendNFTs__Second-Line>button{
        font-size: 12px;
        padding: 10px;
    }
}
@media only screen and (max-width : 560px) {
    .TrendNFTs{
        height: 280px;
    }
    :is(.TrendNFTs__First-Line , .TrendNFTs__Second-Line)>span{
        font-size: 14px;
    }
    .TrendNFTs__Second-Line>button{
        font-size: 10px;
        padding: 8px;
    }
}

@media only screen and (max-width : 480px) {
    .TrendNFTs{
        height: 260px;
    }
    :is(.TrendNFTs__First-Line , .TrendNFTs__Second-Line)>span{
        font-size: 12px;
    }
    .TrendNFTs__Second-Line>button{
        font-size: 8px;
        padding: 6px;
    }
}

@media only screen and (max-width : 410px) {
    .TrendNFTs{
        height: 260px;
    }
    :is(.TrendNFTs__First-Line , .TrendNFTs__Second-Line)>span{
        font-size: 10px;
    }
    .TrendNFTs__Second-Line>button{
        font-size: 6px;
        padding: 5px;
    }
}